<a href="https://colab.research.google.com/github/kirankumar286/Notes/blob/main/Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello, World!")

Hello, World!

In [ ]:
name = "Kk"
print("Hello " + name)
#Hello Kk

Hello Kk

Arithmetic operators
Python can calculate numbers using common mathematical operators, along with some special operators, too:  

## x + y = Addition + operator returns the sum of x plus y
## x - y = Subtraction - operator returns the difference of x minus y
## x * y = Multiplication * operator returns the product of x times y
## x / y = Division / operator returns the quotient of x divided by y
## x**y = Exponent ** operator returns the result of raising x to the power of y
## x**2 = Square expression returns x squared
## x**3 = Cube expression returns x cubed
## x**(1/2) = Square root (Â½) or (0.5) fractional exponent operator returns the square root of x
## x // y = Floor division operator returns the integer part of the integer division of x by y
## x % y = Modulo operator returns the remainder part of the integer division of x by y

#Order of operations
##The order of operations are to be calculated from left to right in the following order:

Parentheses ( ), { }, [ ]

Exponents xy   (x**y)

Multiplication * and Division /  

Addition + and Subtraction -    

 You might find the PEMDAS mnemonic device to be helpful in remembering the order.

In [ ]:
Num1 = 10
num2 = 20
sum = Num1+num2
print("The sum of {0} and {1} is {2}".format(Num1, num2, sum))

The sum of 10 and 20 is 30

In [ ]:
Num1 = 10
num2 = 20
sum = Num1+num2
print("Sum is : " ,sum)

Sum is :  30

In [ ]:
captain: str = "Picard"
age: int = 34
a = 3                  #a is an integer
b = "Hello world"      #a is now a string

In [ ]:
print(captain + str( age) + str(a) + b)
print(captain +" "+ str( age) +" "+ str(a) +" "+ b)

Picard343Hello world
Picard 34 3 Hello world

In [ ]:
print(captain,str( age),str(a), b)

Picard 34 3 Hello world

In [ ]:
# The following 5 lines assign strings to a list of variables.
salutation = "Dr."
first_name = "Prisha"
middle_name = "Jai"
last_name = "Agarwal"
suffix = "Ph.D."

print(salutation + " " + first_name + " " + middle_name + " " + last_name + ", " + suffix)
# The comma as a string ", " adds the conventional use of a comma plus a
# space to separate the last name from the suffix.

# Alternatively, you could use commas in place of the + connector:
print(salutation, first_name, middle_name, last_name,",", suffix)
# However, you will find that this produces a space before a comma within a string.

Dr. Prisha Jai Agarwal, Ph.D.
Dr. Prisha Jai Agarwal , Ph.D.

In [ ]:
# The following lines assign the variable to the left of the =
# assignment operator with the values and arithmetic expressions
# on the right side of the = assignment operator.
hotel_room = 100
tax = hotel_room * 0.08
total = hotel_room + tax
room_guests = 4
share_per_person = total/room_guests


# This line outputs the result of the final calculation stored
# in the variable "share_per_person"
print("Each person needs to pay: " + str(share_per_person)) # change a data type

Each person needs to pay: 27.0

In [7]:
import typing
# Define a variable of type str
z: str = "Hello, world!"
# Define a variable of type int
x: int = 10
# Define a variable of type float
y: float = 1.23
# Define a variable of type list
list_of_numbers: typing.List[int] = [2, 1, 3]
# Define a variable of type tuple
tuple_of_numbers: typing.Tuple[int, int, int] = (3, 2, 1)
# Define a variable of type dict
dictionary: typing.Dict[str, int] = {"key1": 1, "key2": 2}
# Define a variable of type set
set_of_numbers: typing.Set[int] = {4, 2, 1}

In [8]:
print(z,x,y,
      list_of_numbers,tuple_of_numbers,dictionary,set_of_numbers)


print(sorted(list_of_numbers))
print(sorted(tuple_of_numbers))
print(sorted(dictionary))
print(sorted(set_of_numbers))

Hello, world! 10 1.23 [2, 1, 3] (3, 2, 1) {'key1': 1, 'key2': 2} {1, 2, 4}
[1, 2, 3]
[1, 2, 3]
['key1', 'key2']
[1, 2, 4]

In [ ]:
def greeting(name):
  print("Hello!! ", name)

a : str = "Kiran"
b : str = "Kumar"
greeting(a)
greeting(b)

Hello!!  Kiran
Hello!!  Kumar

In [ ]:
def greeting(name, dept):
  print("Hello!! ", name)
  print("Your department is " + dept + "\n")


greeting("Kiran","CSE")
greeting("Kumar", "AI")

Hello!!  Kiran
Your department is CSE

Hello!!  Kumar
Your department is AI

In [5]:
time_list = [12, 2, 32, 19, 57, 22, 14]
print(sorted(time_list))
print(time_list)

[2, 12, 14, 19, 22, 32, 57]
[12, 2, 32, 19, 57, 22, 14]

In [10]:
time_list = [12, 2, 32, 19, 57, 22, 14]
max_time = max(time_list)
min_time = min(time_list)
print(max_time)
print(min_time)

print(min(time_list))
print(max(time_list))

57
2
2
57

In [13]:
print(type(10/2))
print(type(10//2))
print(type(10%2))
print(10/3)
print(10//3)
print(10%3)

<class 'float'>
<class 'int'>
<class 'int'>
3.3333333333333335
3
1

In [18]:
def greeting(name):
    print("Welcome, " + name)
result = greeting("Christine")
print(result)

Welcome, Christine
None

In [15]:
def greeting(name):
    print("Welcome, " , name)
result = greeting("Christine")
print(result)

Welcome,  Christine
None

In [30]:
def area_triangle(base, height):
    return base*height/2
area_a = area_triangle(5,4)
area_b = area_triangle(7,3)
sum = area_a + area_b
print("The sum of both areas is: " + str(sum))
area_triangle(2,3)

The sum of both areas is: 20.5

3.0

In [29]:
#doubt tcs
lol = "1,2,3,4,5"
print(lol)
print(type(lol))
lol2 = lol.split(",")
print(lol.split(","))
print(type(lol.split(",")))
lol3 = lol2[2]
print(lol3)

1,2,3,4,5
<class 'str'>
['1', '2', '3', '4', '5']
<class 'list'>
3

In [31]:
def lucky_number(name):
    number = len(name) * 9
    print("Hello " + name + ". Your lucky number is " + str(number))

lucky_number("Kay")
lucky_number("Cameron")

Hello Kay. Your lucky number is 27
Hello Cameron. Your lucky number is 63

In [34]:
def lucky_number(name):
    number = len(name) * 9
    print("Hello" ,name, ". Your lucky number is", number)


lucky_number("Kay")
lucky_number("Cameron")

Hello Kay . Your lucky number is 27
Hello Cameron . Your lucky number is 63

In [39]:
def calculate(d):
    q = 3.14
    z = q * (d ** 2)
    return z

cal  = calculate(5)
print(type(cal))

#Output is 78.5

<class 'float'>